:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #db00ff;
  --title-decor-color: #000028;
  --title-section-color: #ff0070;

  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --button-color: #ff0070;
  --button-hover-color: #ff007066;

  --rec-display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --title-color: #db00ff;
    --title-decor-color: #000028;
    --title-section-color: #ff0070;

    --accent-color: #ff0070;
    --text-color: #f1b2ce;
    --button-color: #ff0070;
    --button-hover-color: #ff007066;

    --rec-display: flex;
  }
}
